<div class="section default">
    <div class="infobox">
        <h2>{{ aggregationResult.name }}</h2>
        <div class="description">
            {{ aggregationResult.description }}
        </div>
    </div>
    <div class="results">
        {% if not aggregationResult.hasMultipleResults %}
            <div id="chart_div_{{ key }}"></div>
        {% endif %}
    </div>

    <script>
        function drawChart_{{ key }}() {
            var data = new google.visualization.DataTable()
            data.addColumn('string', 'Topping')
            data.addColumn('number', 'Slices')
            data.addRows(JSON.parse('{{ aggregationResult.getResultAsRow | json_encode | raw }}'))

            var options = {
                'height': 400,
                backgroundColor: { fill:'transparent' }
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div_{{ key }}'));
            chart.draw(data, options);
        }
    </script>
</div>

<style>

</style>
